<ion-content class="page-content" [scrollY]="true">
  <div class="page-header">
    <button class="icon-btn" onclick="history.back()"><ion-icon name="settings-outline"></ion-icon></button>
    <p class="hdr-title">Admin Page</p>
    <button class="icon-btn dark"><ion-icon name="options-outline"></ion-icon></button>
  </div>
  <p class="page-title">Edit Entertainment Page</p>
  <p class="page-sub">Edit or change options for the page.</p>
  <div class="list-area">
    <div class="cat-item" *ngFor="let cat of categories">
      <div class="cat-left" [style.background]="cat.bgColor"><span class="cat-emoji">{{ cat.emoji }}</span></div>
      <span class="cat-name" [style.color]="cat.color">{{ cat.name }}</span>
      <button class="edit-btn" (click)="editCategory(cat)"><ion-icon name="create-outline"></ion-icon></button>
      <button class="del-btn" (click)="deleteCategory(cat)"><ion-icon name="trash-outline"></ion-icon></button>
    </div>
  </div>
  <button class="add-btn" (click)="addCategory()"><ion-icon name="add-circle-outline"></ion-icon> Add New Category</button>
  <button class="save-btn">Save Changes</button>
  <div style="height:80px"></div>
</ion-content>
