<ion-content class="hm-content" [scrollY]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($any($event))">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline"></ion-refresher-content>
  </ion-refresher>

  <app-admin-header title="Home Screen" trailing="options"></app-admin-header>

  <p class="hm-note">This is what the buttons look like on the user's home screen.</p>

  <div class="hm-list">
    <div class="hm-item" *ngFor="let b of items" [class.off]="!b.active">
      <div class="hm-preview" [style.background]="b.color"
           [class.icon-top]="b.iconPosition === 'top'"
           [class.icon-right]="b.iconPosition === 'right'">
        <div class="hp-ico"><ion-icon [name]="b.icon"></ion-icon></div>
        <span class="hp-label">{{ b.title }}</span>
      </div>
      <button class="hm-edit" (click)="edit(b)">
        <ion-icon name="create-outline"></ion-icon> Edit
      </button>
    </div>
  </div>

  <p class="empty" *ngIf="!items.length">No buttons yet. Tap Add New to create one.</p>
  <div style="height:120px"></div>
</ion-content>

<ion-footer class="cta-footer">
  <button class="cta-btn" (click)="create()">
    <ion-icon name="add-circle-outline"></ion-icon> Add New
  </button>
</ion-footer>

<app-entity-editor
  [open]="editorOpen"
  [heading]="isNew ? 'Add Button' : 'Edit ' + (editing?.title || '') + ' Button'"
  [model]="editing"
  [icons]="icons"
  [showSubName]="false"
  [showImage]="false"
  [showDelete]="!isNew"
  (save)="onSave($event)"
  (remove)="onRemove($event)"
  (close)="editorOpen = false">

  <ng-container *ngIf="editing">
    <label class="ee-lbl">Icon Position</label>
    <div class="pos-row">
      <button class="pos" [class.on]="editing.iconPosition === 'left'"
              (click)="editing.iconPosition = 'left'">
        <ion-icon [name]="editing.icon"></ion-icon><span>{{ editing.title || 'Button' }}</span>
      </button>
      <button class="pos col" [class.on]="editing.iconPosition === 'top'"
              (click)="editing.iconPosition = 'top'">
        <ion-icon [name]="editing.icon"></ion-icon><span>{{ editing.title || 'Button' }}</span>
      </button>
      <button class="pos" [class.on]="editing.iconPosition === 'right'"
              (click)="editing.iconPosition = 'right'">
        <span>{{ editing.title || 'Button' }}</span><ion-icon [name]="editing.icon"></ion-icon>
      </button>
    </div>

    <label class="ee-lbl">Opens</label>
    <select class="ee-input" [(ngModel)]="editing.route">
      <option *ngFor="let r of routes" [value]="r.value">{{ r.label }}</option>
    </select>
  </ng-container>
</app-entity-editor>