<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" class="ms-tabbar">

    <ion-tab-button tab="home" href="/user/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category" href="/user/category">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet" href="/user/wallet">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support" href="/user/support">
      <ion-icon name="headset-outline"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>