<ion-content class="cat-content" [scrollY]="true">
  <div class="top-bar">
    <button class="icon-btn" onclick="history.back()"><ion-icon name="settings-outline"></ion-icon></button>
    <div class="logo-badge"><span class="money">Money</span><span class="saver">Saver</span></div>
    <button class="icon-btn" ><ion-icon name="options-outline"></ion-icon></button>

  </div>
  <div class="cat-list">
    <button class="cat-banner" *ngFor="let cat of filteredCategories" (click)="openCategory(cat)" [style.background]="cat.bgColor">
      <span class="cat-emoji">{{ cat.emoji }}</span>
      <div class="cat-info">
        <p class="cat-name">{{ cat.name }}</p>
        <p class="cat-sub">{{ cat.appCount }} Apps</p>
      </div>
      <div class="cat-arrow"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </button>
  </div>
  <div style="height:80px"></div>
</ion-content>
