<ion-content class="ca-content" [scrollY]="true">
  <div class="ca-wrap">
    <div class="logo-badge"><span class="money">Money</span><span class="saver">Saver</span></div>
    <h1 class="brand-title">Money <span class="blue">Saver</span></h1>
    <div class="avatar-area" (click)="pickAvatar()">
      <div class="av-circle">
        <ion-icon name="person-outline" *ngIf="!avatarPreview"></ion-icon>
        <img *ngIf="avatarPreview" [src]="avatarPreview" class="av-img" />
        <div class="av-plus"><ion-icon name="add-outline"></ion-icon></div>
      </div>
    </div>
    <input type="file" #avatarInput style="display:none" accept="image/*" (change)="onAvatarSelected($event)" />
    <button class="add-photo-btn" (click)="pickAvatar()"><ion-icon name="camera-outline"></ion-icon> Add Photo</button>
    <div class="form-full">
      <div class="in-row"><ion-icon name="person-outline"></ion-icon><input [(ngModel)]="form.name" type="text" placeholder="Full Name" /></div>
      <div class="in-row"><ion-icon name="happy-outline"></ion-icon><input [(ngModel)]="form.nickName" type="text" placeholder="Nick Name" /></div>
      <div class="in-row"><ion-icon name="call-outline"></ion-icon><input [(ngModel)]="form.mobile" type="tel" placeholder="Mobile No." maxlength="10" /><button class="send-otp">Send OTP</button></div>
      <div class="otp-row">
        <input class="otp-box" type="text" maxlength="1" /><input class="otp-box" type="text" maxlength="1" /><input class="otp-box" type="text" maxlength="1" />
        <input class="otp-box" type="text" maxlength="1" /><input class="otp-box" type="text" maxlength="1" /><input class="otp-box" type="text" maxlength="1" />
        <button class="sub-otp">Submit</button>
      </div>
      <div class="in-row"><ion-icon name="mail-outline"></ion-icon><input [(ngModel)]="form.email" type="email" placeholder="Mail id" /><button class="send-otp">Send OTP</button></div>
      <div class="otp-row">
        <input class="otp-box" type="text" maxlength="1" /><input class="otp-box" type="text" maxlength="1" /><input class="otp-box" type="text" maxlength="1" />
        <input class="otp-box" type="text" maxlength="1" /><input class="otp-box" type="text" maxlength="1" /><input class="otp-box" type="text" maxlength="1" />
        <button class="sub-otp">Submit</button>
      </div>
      <div class="terms-row"><input type="checkbox" id="terms" /><label for="terms">I agree to the <a href="#">Terms &amp; Conditions</a></label></div>
      <button class="save-btn" (click)="createAccount()" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        {{ loading ? 'Creating...' : 'Save' }}
      </button>
      <p class="login-link">Already have an account? <span (click)="goLogin()">Sign In</span></p>
    </div>
  </div>
</ion-content>
